{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="container-fluid text-center" >
<h2> About Me</h2>
  <a href="#"><img src="{% static "images/pic1.jpg" %}" alt="My Image" width=100 height=100 class="left" /></a>
  <h4>Rajendra T</h4>
  <p>
     I'm here to share my experience on database and business intelligence tools, and help to solve/answer
     database and BI questions.
  </p>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
</div>

{% endblock content %}
