{% extends "base.html" %}
{% block content %}

<div class="col-sm-2 sidenav" align=left >
  <div class="well"> <h4>Quick Post Links</h4>
  {% for post in tot_object_list %}
  <li><a href="{{post.get_absolute_url}}"> {{ post.title|truncatechars:50 }} </a><br/><br/></li>
  {% endfor %}
</div>
</div>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-8 text-left"><br/>
      <div class='col-sm-8' >
        <form method='GET' action='' class='row'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-default' type='submit'>Search <i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
     </div>

     <table class="table table-responsive" style="border:none;">
       <tbody>
      {% for post in object_list %}
            <tr style="border-bottom:1px solid #ddd;">
              <td>
              <div>
              {% if post.image %}
              <div style="float:left; padding:0px 5px 0px 0px;"><a href="{{post.get_absolute_url}}"> <img src='{{ post.image.url }}' class='img-rounded' height=100 width=100/> </a> </div>
              {% endif %}
              <strong><a href="{{post.get_absolute_url}}"> {{ post.title }} </a></strong>
                {% if post.draft %} <h3>Staff only: Draft</h3>{% endif %}
                {% if post.publish > today %}<h3>Staff Only: Future Post</h3>{% endif %}</h3>
                {% if post.user.get_full_name %}
                <small>- by <span style="font-size:12px; font-weight:bold; ">{{ post.user.get_full_name }}</span> {% endif %} on <span style="font-size:12px; font-weight:bold">{{ post.publish }}</span>
                <span style="font-size:14px;">{{ post.get_markdown|truncatechars_html:150 }}<span>
              </div>
              <div>
                <span style="align:left">
                  Tags:
                    {% for tag in post.get_tag_list %}
                       <a href="/blog/tag/{{ tag }}/" style="font-size:12px;">{{ tag }}</a>{% if not forloop.last %}, {% endif %} </small>
                    {% endfor %}</span>
              </div>
              </td>
            </tr>
      {% endfor %}
    </tbody>
  </table>
      <div class="pagination">
          <span class="step-links">
              {% if object_list.has_previous %}
                  <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
              {% endif %}
              <span class="current">
                  Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
              </span>
              {% if object_list.has_next %}
                  <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
              {% endif %}
          </span>
       </div>
    </div>

    <div class="col-sm-2 sidenav" align=left >
      <div class="well" >
      <h4> Posts Archive </h4>
      {% for line in aggr_data.archive_counts %}
        {% if line.isyear %}
          {% if not forloop.first %}
            <br>
          {% endif %}
          <li><a href="/blog/{{ line.year }}/">{{ line.year }}</a> ({{ line.count }})<br></li>
        {% else %}
          <li><a href="/blog/{{ line.yearmonth }}/">{{ line.monthname }}</a> ({{ line.count }})<br></li>
        {% endif %}
      {% endfor %}

      <h4>Tags</h4>
      {% for line in aggr_data.tag_counts %}
          <li><a href="/blog/tag/{{ line.tag }}/">{{ line.tag }}</a> ({{ line.count }})<br></li>
      {% endfor %}
    </div>
    </div>

   </div>
 </div>



{% endblock content %}
