{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}

  <div class='col-sm-9' style="word-wrap:break-word;">
  <div class='col-sm-12'>
    {% if request.user.is_authenticated %}
    {% if request.user.is_staff %}
    <div style="float:right; padding:5px 5px 5px 5px;">
     <a href='/blog/create' class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> New </a>
     {% if request.user == instance.user %}
     <a href='{{instance.get_absolute_url}}edit' class="btn btn-info btn-sm" ><span class="glyphicon glyphicon-edit"></span> Update </a>
     {% endif %}
     <a href='{{instance.get_absolute_url}}delete' class="btn btn-danger btn-sm" id="confirm" ><span class="glyphicon glyphicon-remove"></span> Delete </a>

    </div>
    {% endif %}
    {% endif %}
  </div>

   <p> {% if instance.image %} <img src='{{ instance.image.url }}' class='img-responsive' />{% endif %} </p>
   <a href='{{ instance.get_absolute_url }}'> <h3 class="ctitle">{{ title }} </h3> </a>
   <p> {% if instance.draft %} <h4 class="ctitle">Staff only: Draft</h4> {% endif %}
    {% if instance.publish > today %}<h4 class="ctitle">Staff Only: Future Post</h4> {% endif %}
    {% if instance.user.get_full_name %} <csmall> Posted: {{ instance.publish }} </csmall>|<csmall2> By: {{ instance.user.get_full_name }}</csmall2> {% endif %}
   </p>

    <!-- {% if instance.read_time|time:"i" <= "01" %} < 1 minute {% else %}{{ instance.read_time|time:"i" }} minutes {% endif %} -->
    <p>Read time: {% if instance.read_time <= 1 %} < 1 Minute {% else %}{{ instance.read_time }} minutes {% endif %}</p>
    <p>{{ instance.get_markdown }}</p>

    {% include "share_social.html" %}


   <div >
        <p class='lead'>Comments</p>
        {% if request.user.is_authenticated %}
        <form method="POST" action="."> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='submit' value='Post comment' class='btn btn-default'>
        </form>
        {% else %}
        <p>You must login to comment </p>
        {% endif %}
        <hr/>
        {% for comment in comments %}
         <blockquote>
          <p>{{ comment.content }}</p>
          <span><small>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %}
            <a href="#cmnt_{{ comment.id }}" class="toggle btn-default">Reply</a> |
              <a class='btn-default' href='{{ comment.get_absolute_url }}'>Thread</a> </small>
            <div id="cmnt_{{ comment.id }}" class="well hidden">
             {% if request.user.is_authenticated %}
                <form method="POST" action="."> {% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                    <input type='submit' value='Reply' class='btn btn-default'>
                </form>
             {% else %}
              <p>You must login to comment</p>
             {% endif %}
            </div>
          </span>


         </blockquote>
          <hr/>
        {% endfor %}
    </div>
   </div>



{% endblock content %}
